html, body {

}

body {
  background-color: #ffffff;
  color: rgba(0,0,0,0.8);
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  padding: 0;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
textarea:focus, input:focus{
    outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.container {
  padding-top: 88px;
}
.top-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.typebox {
  margin-right: 10px;
}
.tools {
  margin-left: 10px;
}
.keywords {
  margin-right: 10px;
}
.neckbox {
  padding: 10px 0;
}
tbody tr.readed td {
  color: rgba(0,0,0,0.4);
}
.kw-add-box {
  width: 202px;
  margin: 0 auto;
}
.kw-add-btn {
  width: 72px;
  margin-left: 10px;
}
.summary {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  width: 100%;
  padding: 10px;
  height: 300px;
  -webkit-box-shadow: 0px -5px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow: 0px -5px 10px 0px rgba(204,204,204,1);
  box-shadow: 0px -5px 10px 0px rgba(204,204,204,1);
  z-index: 99;
}
.summary-box{
  width: 100%;
  height: 100%;
  position: relative;
}
.summary-box .content {
  white-space: pre-wrap;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  cursor: pointer;
  z-index: 100;
}
.font-select {
  position: absolute;
  top: 4px;
  left: 10px;
  font-size: 13px;
  cursor: pointer;
  z-index: 100;
  background-color: #FFF;
}
.font-select .ant-select-selection {
  height: 28px;
}
.font-select .ant-select-selection__rendered {
  line-height: 26px;
}
.summary-inner {
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
}
.summary .title, .fb-title {
  font-weight: bold;
  text-align: center;
  padding: 30px 0 10px;
}
.summary .time {
  float: right;
}
.summary .author {
  float: left;
}
.copy {
  color: #1bc1a1;
  cursor: pointer;
  font-size: 13px;
}
.view-origin {
  padding: 0 10px;
  font-size: 13px;
}
.fb-fl {
  float: left;
  width: 32%;
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
}
.fb-fr {
  overflow-y: auto;
  float: right;
  width: 66%;
  height: 100%;
  overflow-y: auto;
}
.km-keywords {
  padding-top: 24px;
}
.km-keywords span {
  font-size: 12px;
  color: #1bc1a1;
  cursor: pointer;
}
.km-keywords .keyword {
  padding: 0 10px 10px 0;
  float: left;
}
.fb-info span {
  margin-right: 10px;
}
.dragbox {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #FFF;
}
.drag {
  width: 24px;
  height: 20px;
  margin: 0 auto;
}
.scrollbox {
  padding-top: 10px;
  height: 100%;
}
.friend-title {
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
}
.fb-summary {
  padding: 10px 0;
  color: rgba(0,0,0,0.5);
}
.fb-summary > span {
  padding-right: 10px;
}
.fb-inner {
  width: 100%;
}
.fb-comment {
  padding: 4px 0;
}
.fb-commenter {
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}
.images .image img {
  min-width:100px;
  min-height:100px;
  position:relative;
  max-width: 400px;
  padding-bottom: 10px;
  cursor: pointer;
}
.images .image img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width:100px;
  min-height:100px;
  background: #ebebeb url('../images/no-image.png') no-repeat center;
  color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pdf {
  float: left;
  margin: 10px 10px 10px 0;
}
.pdf-box {
  display: block;
}
.pdf-png img {
  width: 50px;
}
.pdf-index {
  text-align: center;
  padding: 4px 0;
}
.dd-row {
  margin-bottom: 20px;
}
.dd-row span {
  padding-right: 10px;
}

.ant-table-tbody > tr:hover > td {
  background: #c6d7df !important;
}
.ant-table-tbody > tr.current > td {
  background: #c6d7df;
}
.ant-table-tbody > tr > td{
  word-break: break-all;
}
.image-viewer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.65);
  filter: alpha(opacity=50);
}
.image-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.65);
}
.image-viewer-inner {
  height: 100%;
  width: 100%;
  position: relative;
}
.highlight {
  background-color: #FFFF00;
}
.clickable {
  color: #1890ff;
  cursor: pointer;
  word-break: keep-all;
  font-size: 12px;
}
.translate {
  color: #1890ff;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 12px;
}
.copy {
}
.part_en {
  float: left;
  width: 48%;
}
.part_cn {
  float: right;
  width: 48%; 
  position: relative;
}
.part_cn .close_cn {
  position: absolute;
  left: 0;
  top: 20px;
  cursor: pointer;
}
.original {
  padding-bottom: 20px;
}
table .tibetan {
  font-size: 15px;
  font-weight: bold;
}
.summary.tibetan .fb-con-text, .summary.tibetan .content {
  font-size: 15px;
  font-weight: bold;
}
.image-desc {
  max-width: 400px;
}