.pdetail {
    width: 1024px;
    margin: 0 auto;
}
.psummary {
    padding: 80px 0 60px;
    font-size: 14px;
    color: #677897;
    line-height: 26px;
    letter-spacing: 1px;
}
.ptabs {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #D8D8D8;
}
.tabbox {
    float: left;
    position: relative;
}
.tabbox .ppoint {
    display: none;
}
.active .ppoint {
    display: block;
}
.ppoint {
    position: absolute;
    /*left: 50%;*/
    bottom: -21px;
}
.pctitle {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.pccon {
    padding-bottom: 40px;
    letter-spacing: 2px;
    line-height: 25px;
}

.apply-box {
    background-color: #F4F4F4;
    padding: 60px 0;
}
.apply-inner {
    width: 1024px;
    margin: 0 auto;
}
.apply-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}
.papply {
    width: 33.33%;
    text-align: center;
    float: left;
}
.apply-name {
    color: #6CCBFF;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}
.apply-name b {
    font-size: 48px;
}
.apply-desc {
    font-size: 20px;
    font-weight: 500;
}
.apply-sum {
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
}

.case-inner {
    width: 1024px;
    margin: 0 auto;
    padding: 60px 0;
}
.case-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}
.case-list {
    width: 860px;
    margin: 0 auto;
}
.case-img {
    float: left;
}
.case-desc {
    width: 408px;
    line-height: 24px;
    float: right;
}
.function {
    padding-bottom: 40px;
}
.ftitle {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.fdesc {
    padding-bottom: 40px;
    letter-spacing: 1px;
    line-height: 25px;
}
.ftext {
    width: 484px;
    padding-top: 60px;
}
.fimg {
    width: 500px;
}
.fimg img {
    width: 500px;
}